@font-face {
  font-family: 'Segoe UI';
  src: url(../fonts/9404.ttf);
}
* {
  font-family:'Segoe UI', sans-serif;
}
html{
  font-size: 16px;
}
ul{
  padding-inline-start: 0;
}
h1{
  padding: 0;
  margin: 0;
}
.container{
  max-width: 1162px;
  margin: 0 auto;
  padding: 0 102px;
  position: relative;
}
.row-absolute{
  position: absolute;
  width: 85%;
  padding-top: 20px;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.title-wrapper{
  text-align: center;
  margin-bottom: 55px;
}
.title{
  font-size: 2.25rem;
  font-weight: 700;
}
.subtitle{
  font-size: .9rem;
  margin: 24px 0 61px;
}

@keyframes anchor{
  0%{transform: scale(0.9);}
  50%{ transform: scale(1.1);}
  100%{transform: scale(1);}
}
section:target, footer:target{
  animation: anchor both 1s;
}