
.icon-s1:before { content: '\e800'; } /* '' */
.icon-s2:before { content: '\e801'; } /* '' */
.icon-s3:before { content: '\e802'; } /* '' */
.icon-s4:before { content: '\e803'; } /* '' */
.icon-s5:before { content: '\e804'; } /* '' */
.icon-3:before { content: '\e805'; } /* '' */
.icon-5:before { content: '\e806'; } /* '' */
.icon-4:before { content: '\e807'; } /* '' */
.icon-2:before { content: '\e808'; } /* '' */
.icon-social-4:before { content: '\e809'; } /* '' */
.icon-social-3:before { content: '\e80a'; } /* '' */
.icon-social-2:before { content: '\e80b'; } /* '' */
.icon-social-1:before { content: '\e80c'; } /* '' */
.icon-6:before { content: '\e80d'; } /* '' */
.icon-1:before { content: '\e80e'; } /* '' */
.icon-7:before { content: '\e80f'; } /* '' */